body {
    font-size: san-serif;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input, button {
    padding: 10px;
    margin: 5px 0;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}